<div style="position:relative; left:25%; margin-top:16%; padding:10px; width:45%;">
    <h1 style="position:relative; left:3%;">Hola, se bienvenido a esta mini aplicación</h1>
    <h2 style="position:relative; left:30%;">Que te gustaria hacer?</h2>
    <div style="position:relative; left:35%;">
        <button><a href="/registros" style="text-decoration:none;">Crear un nuevo registro</a></button>
    </div>
</div>