<div class="col-md-12 text-center">
    <h1>Hola, se bienvenido a esta mini aplicación</h1>
    <h2>Que te gustaria hacer?</h2>
    <a href="/registros" style="text-decoration:none;" class="btn btn-primary">Crear un nuevo registro</a>
</div>